// Colors for Night Master

@dark-dark-purple: #1e202f;
@dark-purple: #353552;
@light-purple: #2e3252;
@medium-blue: #2ba7ff;
@light-blue: #b9c2fe;
@magenta: #F764A1;
@yellow: #f0c674;
@lime: #c7ff66;
@orange: #a5402d;
